@use 'sass:string';

@use 'theming' as theming;

$mapping:(
  text-color: color-foreground-accent,
  link-color: color-primary,
  title-color: color-foreground
);

@mixin apply-theme($theme-config){
  $theme: theming.apply-mapping($theme-config, $mapping);

  h1 {
    margin: 0;

    @include theming.typography-level($theme, 'headline-1');

    &.title{
      @include theming.typography-level($theme, 'primary');
      color: theming.get($theme, 'title-color');
    }
  }

  h2 {
    @include theming.typography-level($theme, 'headline-2');
    color: theming.get($theme, 'title-color');
  }

  h3 {
    @include theming.typography-level($theme, 'headline-3');
    color: theming.get($theme, 'title-color');
  }

  a{
    color: theming.get($theme, 'link-color');
  }

  body{
    color: theming.get($theme, 'text-color');
  }
}
